@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

/* Homepage layout */

.home__container {
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.home__container > * {
  margin-bottom: 10px;
}

.home__header {
  margin-bottom: 30px;
}

.username__input {
  padding: 10px;
  width: 50%;
}

.home__cta {
  width: 200px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #607eaa;
  color: #f9f5eb;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: .55s;
}

.home__cta:hover {
  background-color: #3763a6;
  transition: .55s;
  border-radius: 15px;
}

.sign__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign__cta {
  width: 150px;
  height: 35px;
  background-color: rgb(255,255,255);
  border-radius: 5px;
  transition: .55s;
  cursor: pointer;
  margin-bottom: 10px;
}

.cancel__cta {
  width: 150px;
  margin-top: 10px;
  height: 35px;
  background-color: rgb(255,255,255);
  border-radius: 5px;
  transition: .55s;
  cursor: pointer;
  margin-bottom: 10px;
}

.cancel__cta:hover {
  background-color: #c2bebd;
  transition: .55s;
  border-radius: 15px;
}

.forgot__btn {
  font-size: 13px;
  background-color: rgb(255,255,255);
  border: none;
  cursor: pointer;
}

.sign__cta:hover {
  background-color: #c2bebd;
  transition: .55s;
  border-radius: 15px;
}



/* Chatin ulkoasu */

.chat {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}

.chat__sidebar {
  height: 100%;
  background-color: #f9f8eb;
  flex: 0.2;
  padding: 20px;
  border-right: 1px solid #fdfdfd;
}

.chat__main {
  height: 100%;
  flex: 0.8;
}

.chat__header {
  margin: 30px 0 20px 0;
}
.chat__users > * {
  margin-bottom: 10px;
  color: #607eaa;
  font-size: 14px;
}

.chat__mainHeader {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #f9f5eb;
}

.online__users > * {
  margin-bottom: 10px;
  color: rgb(238,102,102);
  font-style: italic;
}

.leaveChat__btn {
  padding: 10px;
  width: 150px;
  border: none;
  outline: none;
  cursor: pointer; 
  background-color: #d1512d;
  border-radius: 15px;
  transition: .55s;
}

.leaveChat__btn:hover {
  background-color: rgb(224, 31, 31);
  transition: 0.55s;
  border-radius: 25px;
}

.message__container {
  width: 100%;
  height: 80vh;
  background-color: #fff;
  padding: 20px;
  overflow-y: scroll;
}

.message__container > * {
  margin-bottom: 10px;
}

.chat__footer {
  padding: 10px;
  background-color: #f9f5eb;
  height: 10vh;
}

.form {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.message {
  width: 80%;
  height: 100%;
  border-radius: 15px;
  border: 1px solid #ddd;
  outline: none;
  padding: 15px;
}

.sendBtn {
  width: 150px;
  background-color: rgb(22, 102, 22);
  padding: 15px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #eae3d2;
  border-radius: 15px;
  transition: .55s;
}

.sendBtn:hover {
  background-color: rgb(51, 159, 9);
  transition: .55s;
  border-radius: 25px;
}

.message__recipient {
  background-color: #f5ccc2;
  width: 300px;
  padding: 10px;
  border-radius: 10px;
  font-size: 15px;
}

.message__sender {
  background-color: rgb(194, 243, 194);
  max-width: 300px;
  padding: 10px;
  border-radius: 10px;
  margin-left: auto;
  font-size: 15px;
}

.message__chats > p {
  font-size: 13px;
}

.sender__name {
  text-align: right;
}

.message__status {
  position: fixed;
  bottom: 85px;
  font-size: 13px;
  font-style: italic;
  opacity: 0.3;
}

@media screen and (max-width: 658px) {
  .chat__sidebar {
    width: 30%;
    padding: 10px;
  }

  .chat__sidebar h2 {
    font-size: 12px;
  }

  .chat__sidebar h4 {
    font-size: 10px;
  }

  .chat__sidebar p {
    font-size: 13.5px;
  }
  
  .chat__main {
    height: 100%;
  }

  .message__recipient {
    font-size: 12px;
    width: 70%;
  }

  .message__sender {
    font-size: 12px;
    width: 70%;
  }
  
}
